.popup
  .popup-header
    i.popup__icon.place-icon
    .address(data-role='address') Невский пр., 78, Санкт-Петербург, 191025
    i.popup__icon.cross-icon
  .comments
  form.form
    input(type='text').form__input
    input(type='text').form__input
    input(type='textarea').form__input.form__textarea
    button(type='submit').form__submit Добавить